﻿<%if {infloat}!=1%>
<%if {pagename}=="website.aspx"%>    
       <div id="websitebottomad"></div>
<%else if {footerad}!=""%> 
     <div id="ad_footerbanner">{footerad}</div>   
<%/if%>
<div id="footer">
	<div class="wrap"  id="wp">
		<div id="footlinks">
			<p><a href="{config.weburl}" target="_blank">{config.webtitle}</a> - {config.linktext} - <a target="_blank" href="{forumurl}stats.aspx">统计</a> - <%if {config.sitemapstatus}==1%>&nbsp;<a href="{forumurl}tools/sitemap.aspx" target="_blank" title="百度论坛收录协议">Sitemap</a><%/if%>
			{config.statcode}{config.icp}
			</p>
			<div>
				<a href="http://www.comsenz.com/" target="_blank">Comsenz Technology Ltd</a>
				- <a href="{forumurl}archiver/index.aspx" target="_blank">简洁版本</a>
			<%if {config.stylejump}==1%>
				<%if {userid}!=-1 || {config.guestcachepagetimeout}<=0%>
				- <span id="styleswitcher" class="drop" onmouseover="showMenu({'ctrlid':this.id, 'pos':'21'})" onclick="window.location.href='{forumurl}showtemplate.aspx'">界面风格</span>
				<%/if%>
			<%/if%>
			</div>
		</div>
		<a title="Powered by Discuz!NT" target="_blank" href="http://nt.discuz.net"><img border="0" alt="Discuz!NT" src="{imagedir}/discuznt_logo.gif"/></a>
		<p id="copyright">
			Powered by <strong><a href="http://nt.discuz.net" target="_blank" title="{forumproductname}">Discuz!NT</a></strong> <em class="f_bold">{forumversion}</em>
			<%if {config.Licensed==1}%>
				(<a href="" onclick="this.href='http://nt.discuz.net/certificate/?host='+location.href.substring(0, location.href.lastIndexOf('/'))" target="_blank">Licensed</a>)
			<%/if%>
				{config.forumcopyright}
		</p>
		<p id="debuginfo" class="grayfont">
		<%if {config.debug}!=0%>
			Processed in {this.processtime} second(s)
			<%if {isguestcachepage}==1%>
				(Cached).
			<%else if {querycount}>1%>
				 , {querycount} queries.
			<%else%>
				 , {querycount} query.
			<%/if%>
		<%/if%>
		</p>
	</div>
</div>
<a id="scrolltop" href="javascript:;" style="display:none;" class="scrolltop" onclick="setScrollToTop(this.id);">TOP</a>
<ul id="usercenter_menu" class="p_pop" style="display:none;">
    <li><a href="{forumpath}usercpprofile.aspx?action=avatar">设置头像</a></li>
    <li><a href="{forumpath}usercpprofile.aspx">个人资料</a></li>
    <li><a href="{siteurl}changePassword.aspx?re=bbs">更改密码</a></li>
    <li><a href="{forumpath}usercp.aspx">用户组</a></li>
    <li><a href="{forumpath}usercpsubscribe.aspx">收藏夹</a></li>
    <li><a href="{forumpath}usercpcreditspay.aspx">积分</a></li>
</ul>

<%loop (string) prentid mainnavigationhassub%>
<ul class="p_pop" id="menu_{prentid}_menu" style="display: none">
<%loop subnav subnavigation%>
<%set (bool) {isoutput} = false%>
  <%if {subnav[parentid]}=={prentid}%>
		<%if {subnav[level]}=="0"%>
		<%set {isoutput}=true%>
		<%else%>
		<%if {subnav[level]}=="1" && {userid}!=-1%>
			<%set {isoutput}=true%>
		<%else%>
			<%set (bool) {leveluseradmindi}=true%>
			<%set {leveluseradmindi} = ({useradminid}==3 || {useradminid}==1 || {useradminid}==2)%>
			<%if {subnav[level]}=="2" &&  {leveluseradmindi}%>
				  <%set {isoutput}=true%>
			<%/if%>
			<%if {subnav[level]}=="3" && {useradminid}==1%>
				  <%set {isoutput}=true%>
			<%/if%>
		<%/if%>
		<%/if%>
<%/if%>
<%if {isoutput}%>
	<%if {subnav[id]}=="11" || {subnav[id]}=="12"%>
	<%if {config.statstatus}==1%>
	{subnav[nav]}
        <%continue%>
	<%else%>
       	<%continue%>
	<%/if%>
    <%/if%>
   <%if {subnav[id]}=="18"%>
	<%if {config.oltimespan}>0%>
    {subnav[nav]}
	<%continue%>
		<%else%>
       	<%continue%>
     <%/if%>
    <%/if%>
	<%if {subnav[id]}=="24"%>
    <%if {config.enablespace}==1 %>
    {subnav[nav]}
 	<%continue%>
		<%else%>
      	<%continue%>
	<%/if%>
    <%/if%>
	<%if {subnav[id]}=="25"%>
	<%if {config.enablealbum}==1 %>
    {subnav[nav]}
 	<%continue%>
		<%else%>
      	<%continue%>
	<%/if%>
	<%/if%>
    <%if {subnav[id]}=="26"%>
	<%if {config.enablemall}>=1 %>
    {subnav[nav]}
   	<%continue%>
		<%else%>
       	<%continue%>
	<%/if%>
    <%/if%>
    {subnav[nav]}
<%/if%>
<%/loop%>
</ul>
<%/loop%>
<%if {config.stylejump}==1%>
	<%if {userid}!=-1 || {config.guestcachepagetimeout}<=0%>
	<ul id="styleswitcher_menu" class="popupmenu_popup s_clear" style="display: none;">
	{templatelistboxoptions}
	</ul>
	<%/if%>
<%/if%>