﻿<%template _pageheader%>
<body onkeydown="if(event.keyCode==27) return false;">
<div id="append_parent"></div><div id="ajaxwaitid"></div>
<%if {headerad}!=""%>
	<div id="ad_headerbanner">{headerad}</div>
<%/if%>
<div id="hd">
	<div class="wrap">
		<div class="head cl">
			<h2><a href="{forumpath}index.aspx" title="Discuz!NT|BBS|论坛"><img src="{imagedir}/logo.png" alt="Discuz!NT|BBS|论坛"/></a></h2>
			<%if {userid}==-1%>
            <%if {pagename}!="login.aspx"&&{pagename}!="register.aspx"%>
            <div class="fastlg c1">
					<div class="y pns">
						<p>
							<a href="{siteurl}login.aspx?re=bbs"   class="xg2">登录</a><span style="padding-left:10px;padding-right:10px;">|</span><a href="{siteurl}signup.aspx?re=bbs"   class="xg2">注册</a>						
						</p>
					</div>
                </div>	
            <%else%>
                <script language="javascript" type="text/javascript">window.top.location.href = "{siteurl}login.aspx?re=bbs";</script>
            <%/if%>
			<%else%>
			<div id="um">
				<div class="avt y"><a alt="用户名称" target="_blank" href="{forumpath}usercp.aspx"><img src="{useravatar}" onerror="this.onerror=null;this.src='{forumpath}images/common/noavatar_small.gif';" /></a></div>
				<p>
					<strong><a href="{forumpath}userinfo.aspx?userid={userid}" class="vwmy">{username}</a></strong><span class="xg1">在线</span><span class="pipe">|</span>
                    <%set (string){linktitle} = ""%>
                    <%set (string){showoverflow} = ""%>
                    <%if {oluserinfo.newpms}>0%>
                        <%if {oluserinfo.newpms}>=1000%>
                            <%set {showoverflow} = "大于"%>
                        <%/if%>
                        <%set {linktitle} = "您有"+{showoverflow}+{oluserinfo.newpms}+"条新短消息"%>
                    <%else%>
                        <%set {linktitle} = "您没有新短消息"%>
                    <%/if%>
					<a id="pm_ntc" href="{forumpath}usercpinbox.aspx" title="{linktitle}">短消息</a>
                    <span class="pipe">|</span>
                    <%set {showoverflow} = ""%>
                    <%if {oluserinfo.newnotices}>0%>
                        <%if {oluserinfo.newnotices}>=1000%>
                            <%set {showoverflow} = "大于"%>
                        <%/if%>
                        <%set {linktitle} = "您有"+{showoverflow}+{oluserinfo.newnotices}+"条新通知"%>
                    <%else%>
                        <%set {linktitle} = "您没有新通知"%>
                    <%/if%>
					<a href="{forumpath}usercpnotice.aspx?filter=all" title="{linktitle}">
                        通知<%if {oluserinfo.newnotices}>0%>
                                ({oluserinfo.newnotices}<%if {oluserinfo.newnotices}>=1000%>+<%/if%>)
                            <%/if%>
                    </a>
                    <span class="pipe">|</span>
					<a id="usercenter" class="drop" onmouseover="showMenu(this.id);" href="{forumpath}usercp.aspx">用户中心</a>
				<%if {config.Regstatus}==2||{config.Regstatus}==3%>
					<%if {userid}>0%>
					<span class="pipe">|</span><a href="{forumpath}invite.aspx">邀请</a>
					<%/if%>
				<%/if%>
					<%if {useradminid}==1%>
					<span class="pipe">|</span><a href="{forumpath}admin/index.aspx" target="_blank">系统设置</a>
					<%/if%>
					<span class="pipe">|</span><a href="{siteurl}logout.aspx?userkey={userkey}&re=bbs">退出</a>
				</p>
				{userinfotips}
			</div> 
			<%if {oluserinfo.newpms}>0%>
			<div id="pm_ntc_menu" class="g_up">
				<div class="mncr"></div>
				<div class="crly">
					<div style="clear:both;font-size:0;"></div>
					<span class="y"><a onclick="javascript:$('pm_ntc_menu').style.display='none';" href="javascript:;"><img src="{imagedir}/delete.gif" alt="关闭"/></a></span>
					<a href="{forumpath}usercpinbox.aspx">您有<%if {oluserinfo.newpms}>=1000%>大于<%/if%>{oluserinfo.newpms}条新消息</a>
				</div>
			</div>
            <script type="text/javascript">setMenuPosition('pm_ntc', 'pm_ntc_menu', '43');</script>
            <%/if%>
			<%/if%>
		</div>
		<div id="menubar">
		<%if {userid}!=-1%>
			<a onMouseOver="showMenu(this.id, false);" href="javascript:void(0);" id="mymenu">我的中心</a>
            <div class="popupmenu_popup headermenu_popup" id="mymenu_menu" style="display: none">
			<ul class="sel_my">
				<li><a href="{forumpath}mytopics.aspx">我的主题</a></li>
				<li><a href="{forumpath}myposts.aspx">我的帖子</a></li>
				<li><a href="{forumpath}search.aspx?posterid=current&type=digest&searchsubmit=1">我的精华</a></li>
				<li><a href="{forumpath}myattachment.aspx">我的附件</a></li>
				<li><a href="{forumpath}usercpsubscribe.aspx">我的收藏</a></li>
			<%if {config.Enablespace}==1%>
				<li class="myspace"><a href="{forumpath}space/">我的空间</a></li>
			<%/if%>
			<%if {config.Enablealbum}==1%>
				<li class="myalbum"><a href="{forumpath}showalbumlist.aspx?uid={userid}">我的相册</a></li>
			<%/if%>
            </ul>
        <%if {config.allowchangewidth}==1&&pagename!="website.aspx"%>
           <ul class="sel_mb">
				<li><a href="javascript:;" onclick="widthauto(this,'{cssdir}')"><%if {isnarrowpage}%>切换到宽版<%else%>切换到窄版<%/if%></a></li>
 			</ul>
        <%/if%>
            </div>
		<%/if%>
			<ul id="menu" class="cl">
				{mainnavigation}
			</ul>
		</div>
	</div>
</div>
<%else%>
<%csharp%>
Response.Clear();
Response.ContentType = "Text/XML";
Response.Expires = 0;
Response.Cache.SetNoStore();
<%/csharp%>
<?xml version="1.0" encoding="utf-8"?><root><![CDATA[
<%/if%>