﻿<%template _header%>
<div class="wrap s_clear pageinfo">
	<div id="nav"><a href="{config.forumurl}" class="title">{config.forumtitle}</a> &raquo; <strong>用户退出</strong></div>
</div>
<script language="javascript" type="text/javascript">var url = "{siteurl}logout.aspx?re=bbs"; url = url.replace("{", "");
    url = url.replace("}", "");
    window.top.location.href = url;
</script>
<%template _msgbox%>
<%template _copyright%>
<%template _footer%>