﻿<%template _header%>
<script language="javascript" type="text/javascript">var url = "{siteurl}changepassword.aspx?re=bbs"; url = url.replace("{", "");
    url = url.replace("}", "");
    window.top.location.href =url;
</script>
<div class="wrap cl pageinfo">
	<div id="nav">
		<%if {usergroupinfo.allowsearch}>0%>
			<%template _quicksearch%>
		<%/if%>
		<a href="{config.forumurl}" class="title">{config.forumtitle}</a> &raquo; <a href="usercpprofile.aspx">用户中心</a> &raquo; <strong>更改密码</strong>
	</div>
</div>
<div class="wrap uc cl">
	<%template _menu%>
	<div class="uc_main">
	<div class="uc_content">
		<h1 class="u_t">更改密码</h1>
	<%if page_err==0%>
		<%if ispost%>
		<%template _usercpmsgbox%>
		<%else%>
		<form action="" method="post" id="form1">
		<table cellspacing="0" cellpadding="0" class="tfm" summary="更改密码">
		<tbody>
		<tr>
			<th>原密码</th>
			<td>
				<input name="oldpassword" type="password" id="oldpassword" size="25"  class="txt"/>
			</td>
		</tr>
		<tr>
			<th>新密码</th>
			<td>
				<input name="newpassword" type="password" id="newpassword" size="25" class="txt" /> 注:新密码为空将不对密码进行修改,密码区分大小写
			</td>
		</tr>
		<tr>
			<th>重复新密码</th>
			<td>
				<input name="newpassword2" type="password" id="newpassword2" size="25"  class="txt"/>
			</td>
		</tr>
		<tr>
			<th>安全问题:</th>
			<td>
				<select name="question" id="question">
					<option value="0" selected="selected">无</option>
					<option value="1">母亲的名字</option>
					<option value="2">爷爷的名字</option>
					<option value="3">父亲出生的城市</option>
					<option value="4">您其中一位老师的名字</option>
					<option value="5">您个人计算机的型号</option>
					<option value="6">您最喜欢的餐馆名称</option>
					<option value="7">驾驶执照的最后四位数字</option>
				</select>&nbsp;<input type="checkbox" name="changesecques" value="1" ID="Checkbox1"/>修改安全提问
			</td>
		</tr>
		<tr>
			<th>答案:</th>
			<td>
				<input name="answer" type="text" id="answer" size="25" class="txt" />&nbsp;注:问题答案区分大小写
			</td>
		</tr>
		<%if {isseccode}%>
		<tr>
			<th>验证码:</th>
			<td>
				<span class="formcode" style="position: relative;"><%template _vcode%></span>
			</td>
		</tr>
		<%/if%>
		<tr>
			<th> </th>
			<td>
				<button type="submit" name="Submit" id="Submit" class="pn"><span>确定</span></button>
			</td>
		</tr>
		</tbody>
		</table>
		</form>
		<%/if%>
	<%else%>
		<%template _usercperrmsgbox%>
	<%/if%>
	</div>
	</div>
</div>
</div>
<%template _copyright%>
<%template _footer%>